@import "../../../Root/Colors.css";
.circleTagH1 {
  color: var(--txt-clr);
  position: absolute;
  width: 200px;
  height: 60px;
  top: 200px;
  left: 0px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  box-sizing: border-box;
  animation: slideInLeft 200ms ease-out;
  transition: all 200ms ease-out;
  pointer-events: none;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 574px) {
  .circleTagH1 {
    line-height: initial;
    width: unset;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 200px;
    padding: 0;
    top: 0;
    left: 130%;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    pointer-events: unset;
    border: 3px double var(--txt-clr);
    border-radius: 20px;
  }
}
