.circleWrapperDiv {
  position: relative;
  margin: 0 10%;
  margin-bottom: 60px;
  width: 80%;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 574px) {
  .circleWrapperDiv {
    width: initial;
    flex-direction: column;
    margin: 0;
  }
}
