.circleWrapperDiv {
  position: relative;
  margin: 0 10%;
  margin-bottom: 60px;
  width: 80%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 540px) {
  .circleWrapperDiv {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
