@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
.aboutDiv {
  position: relative;
  top: -25px;
  left: 0;
  font-family: "Zen Loop", cursive;
  min-height: 100vh;
}
