@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
@import "../../Root/Colors.css";
body,
p,
h1,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textWrapper {
  font-family: "Dancing Script", cursive;
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100vh;
}
.heading {
  font-size: 40px;
  font-style: italic;
  position: absolute;
  left: 275px;
  top: calc(25px + 100px - 24px); /*121px*/
  color: var(--txt-clr);
  animation: popOutName 300ms ease-out;
  transform-origin: top;
}
@keyframes popOutName {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.paragraphBig {
  position: absolute;
  left: 275px;
  width: 400px;
  top: calc(250px + 12px); /*262px*/
  color: var(--txt-clr);
  font-size: 20px;
  animation: slideInRightParagraph 200ms ease-out;
}
.paragraphMid {
  font-size: 20px;
  position: absolute;
  left: 275px;
  width: 400px;
  top: calc(263px + 192px + 50px); /*505px*/
  color: var(--txt-clr);
  animation: slideInRightParagraph 200ms ease-out;
}
@keyframes slideInRightParagraph {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
.divider {
  position: absolute;
  left: 112.5px;
  top: 250px;
  height: 1px;
  width: 25px;
  background: var(--txt-clr);
  animation: slideInLeftDivider 200ms ease-out;
}
.divider2 {
  position: absolute;
  left: 112.5px;
  top: 300px;
  width: 25px;
  height: 1px;
  background: var(--txt-clr);
  animation: slideInLeftDivider 200ms ease-out;
}
@keyframes slideInLeftDivider {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}
.paragraphMail {
  background-color: rgba(43, 43, 43, 0.2);
  cursor: pointer;
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 20px;
  top: calc(250px + 25px - 13px); /*263px*/
  width: 210px;
  height: 25px;
  border-radius: 15px;
  animation: slideInLeftMail 200ms ease-out;
  transform-origin: center;
  font-size: 16px;
}
@keyframes slideInLeftMail {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}
#clicked {
  background: transparent;
  border: 2px solid var(--green-clr);
  color: var(--green-clr);
  line-height: 21px;
}

.paragraphSocial {
  user-select: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 300px;
  margin-top: 12px;
  left: 75px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  animation: slideInLeftSocial 200ms ease-out;
}
@keyframes slideInLeftSocial {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}
.paragraphSocial a {
  text-decoration: none;
  color: var(--txt-clr);
  transition: color 200ms ease-out;
}
@media screen and (min-width: 574px) {
  .paragraphSocial a:hover,
  .paragraphSocial a:focus {
    color: var(--hover-clr);
  }
}
@media screen and (max-width: 574px) {
  .divider {
    display: none;
  }
  .textWrapper {
    display: flex;
    justify-content: center;
  }
  .paragraphMail {
    top: calc(250px + 25px);
    left: initial;
    animation: slideInUpMail 200ms ease-out;
  }
  @keyframes slideInUpMail {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0);
    }
  }
  .divider2 {
    inset: initial;
    animation: none;
    top: calc(320px);
    width: 100px;
  }
  .paragraphSocial {
    width: unset;
    height: unset;
    inset: initial;
    top: calc(320px);
    animation: slideInUpSocial 200ms ease-out;
  }
  @keyframes slideInUpSocial {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0);
    }
  }
  .heading {
    color: #000;
    width: 110px;
    text-align: center;
    display: initial;
    inset: initial;
    top: calc(250px - 25px);
    font-size: 32px;
    text-shadow: 0 1px 0 #e0e0e0, 0 2px 0 #dddddd, 0 3px 0 #cfcfcf,
      0 4px 0 #cdcdcd, 0 5px 0 #bebebe, 0 6px 1px rgba(20, 20, 20, 0.1),
      0 0 5px rgba(20, 20, 20, 0.1), 0 1px 3px rgba(20, 20, 20, 0.3),
      0 3px 5px rgba(20, 20, 20, 0.2), 0 5px 10px rgba(20, 20, 20, 0.25),
      0 10px 10px rgba(20, 20, 20, 0.2), 0 20px 20px rgba(20, 20, 20, 0.15);
  }
  .paragraphBig {
    text-align: center;
    display: initial;
    inset: initial;
    top: calc(320px + 75px + 125px);
    width: calc(100% - 50px);
    animation: slideInUpParagraph 200ms ease-out;
  }
  .paragraphMid {
    text-align: center;
    display: initial;
    inset: initial;
    top: calc(395px + 240px + 25px + 125px);
    width: calc(100% - 50px);
    padding-bottom: 50px;
    animation: slideInUpParagraph 200ms ease-out;
  }
  @keyframes slideInUpParagraph {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0);
    }
  }
}
