@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
p,
h1,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --txt-clr: #2b2b2b;
}

.textWrapper {
  font-family: "Dancing Script", cursive;
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100vh;
}
.heading {
  font-size: 40px;
  font-style: italic;
  position: absolute;
  left: 275px;
  top: calc(25px + 100px - 24px); /*121px*/
  color: var(--txt-clr);
}
.available {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 13px 0;
  left: calc(275px + 286px + 25px);
  top: 100px;
  background: rgba(255, 165, 0, 0.4);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.availableWrapper {
  background: transparent;
  width: 210px;
  height: 60px;
  position: absolute;
  left: calc(275px + 286px + 20px);
  top: 95px;
  border: rgba(255, 165, 0, 0.4) 3px solid;
  border-radius: 17px;
}
.paragraphBig {
  position: absolute;
  left: 275px;
  width: 400px;
  top: calc(250px + 12px); /*262px*/
  color: var(--txt-clr);
  font-size: 20px;
}
.paragraphMid {
  font-size: 20px;
  position: absolute;
  left: 275px;
  width: 400px;
  top: calc(263px + 192px + 50px); /*505px*/
  color: var(--txt-clr);
}

.divider {
  position: absolute;
  left: 112.5px;
  top: 250px;
  height: 0px;
  width: 25px;
  outline: 1px solid var(--txt-clr);
}
.paragraphMail {
  user-select: none;
  background-color: rgba(43, 43, 43, 0.2);
  cursor: pointer;
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 20px;
  top: calc(250px + 25px - 13px); /*263px*/
  width: 210px;
  height: 25px;
  color: var(--txt-clr);
  border-radius: 15px;
}
.divider2 {
  position: absolute;
  left: 112.5px;
  top: 300px;
  height: 0px;
  width: 25px;
  outline: 1px solid var(--txt-clr);
}
.paragraphSocial {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 300px;
  margin-top: 12px;
  left: 75px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.paragraphSocial a {
  text-decoration: none;
  color: var(--txt-clr);
}
@media screen and (max-width: 574px) {
  .heading,
  .paragraphBig,
  .paragraphMid,
  .available,
  .availableWrapper {
    display: none;
  }
  .divider {
    display: none;
  }
  .paragraphMail {
    user-select: unset;
    top: 25px;
    left: initial;
    right: 25px;
  }
  .divider2 {
    top: calc(50px + 24px);
    left: initial;
    right: 75px;
    width: 100px;
  }
  .paragraphSocial {
    inset: initial;
    right: 75px;
    top: calc(200px - 44px - 50px);
  }
  .heading {
    width: 110px;
    text-align: center;
    display: initial;
    inset: initial;
    top: calc(250px - 25px);
    left: calc(25px + 45px);
    font-size: 32px;
  }
  .paragraphBig {
    display: initial;
    inset: initial;
    top: 325px;
    left: 25px;
  }
  .paragraphMid {
    display: initial;
    inset: initial;
    top: calc(300px + 192px + 50px);
    left: 25px;
    padding-bottom: 50px;
  }
  .available {
    display: initial;
    inset: initial;
    top: 250px;
    right: 45px;
    width: 160px;
    height: 40px;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 10px;
  }
  .availableWrapper {
    display: initial;
    inset: initial;
    top: 245px;
    right: 40px;
    width: 170px;
    height: 50px;
    border-radius: 15px;
  }
}
