@import "../../Root/Colors.css";
.logos {
  width: 100px;
  height: fit-content;
  transition: all 200ms ease-out;
}
.headingWrapper {
  position: absolute;
  right: 0.5vw;
  top: 250px;
  width: 300px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headingWrapper h1 {
  color: var(--txt-clr);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.logoWrapper {
  position: absolute;
  top: calc(250px + 48px);
  right: 0.5vw;
  width: 300px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.paragraphWrapper {
  width: 300px;
  height: fit-content;
  position: absolute;
  right: 0.5vw;
  top: calc(250px + 48px + 120px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.paragraphWrapper p {
  color: var(--txt-clr);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: all 200ms ease-out;
}

@media screen and (max-width: 975px) {
  .headingWrapper {
    inset: unset;
    text-align: left;
    width: fit-content;
    align-items: center;
    justify-content: left;
    top: calc(785px + 125px);
    height: 50px;
  }
  .headingWrapper h1 {
    margin-left: 25px;
    font-size: 3vw;
  }
  .logoWrapper {
    inset: initial;
    top: calc(785px + 125px);
    height: 50px;
    justify-content: left;
    width: fit-content;
    left: 24vw;
    gap: 10px;
  }
  .logos {
    width: 8vw;
  }
  .paragraphWrapper {
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .logos:hover {
    transform: scale(1.05);
  }
  #hoverP {
    color: var(--hover-clr);
  }
}
@media screen and (max-width: 574px) {
  .headingWrapper {
    display: none;
  }

  .logoWrapper {
    inset: initial;
    top: calc(785px + 125px);
    height: 50px;
    justify-content: left;
    width: fit-content;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .logos {
    width: 30px;
  }
  .paragraphWrapper {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .headingWrapper,
  .logoWrapper {
    top: calc(785px + 125px + 35px);
  }
}
