@import "../../../Root/Colors.css";

.logo {
  position: absolute;
  top: 27px;
  left: 25px;
  width: 50px;
  height: 50px;
  transform-origin: 25px 8px;
  z-index: 1;
}
@media screen and (min-width: 574px) {
  .logoWrapper:hover .logo g {
    stroke: var(--hover-clr);
  }
  .logoWrapper:hover .logo circle {
    stroke: var(--hover-clr);
  }
  .logoWrapper:hover .around g {
    stroke: var(--hover-clr);
  }
}
.logo g {
  transition: stroke 200ms ease-out;
  stroke: var(--txt-clr);
}

.logoWrapper:focus .logo g {
  stroke: var(--hover-clr);
}
.logo circle {
  transition: stroke 200ms ease-out;
  stroke: var(--txt-clr);
}

.logoWrapper:focus .logo circle {
  stroke: var(--hover-clr);
}
.logoWrapper {
  width: 100px;
  height: 100%;
}

.around {
  position: absolute;
  width: 100px;
  height: 100px;
}
.around g {
  transition: stroke 200ms ease-out;
  stroke: var(--txt-clr);
}

.logoWrapper:focus .around g {
  stroke: var(--hover-clr);
}
