.wrapper {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  position: absolute;
  top: 25px;
  left: 100px;
}
@media screen and (max-width: 540px) {
  .wrapper {
    left: initial;
    right: 25px;
    text-align: right;
  }
}
