@import "../../Root/Colors.css";
.tag {
  color: var(--txt-clr);
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  transition: all 200ms ease-out;
}
.underline {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: var(--txt-clr);
  transition: all 200ms ease-out;
  transform-origin: right;
  animation: slideInLeft 200ms ease-out;
}
@media screen and (min-width: 575px) {
  .tag:hover {
    color: var(--hover-clr);
  }
  .tag:hover ~ .underline {
    background: var(--hover-clr);
  }
}

@keyframes slideInLeft {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
@media screen and (max-width: 574px) {
  .tag {
    font-size: 24px;
  }
}
