@import url("https://fonts.googleapis.com/css2?family=Tangerine&family=WindSong&display=swap");
@import "../../Root/Colors.css";
.footer {
  position: relative;
  bottom: 25px;
  left: 25px;
  width: calc(100% - 50px);
  border: 1px solid var(--txt-clr);
  border-radius: 30px;
  height: 49px;
  display: flex;
  align-items: center;
}
.sign {
  user-select: none;
  position: absolute;
  margin-left: 15px;
  width: 100px;
}
.date {
  width: fit-content;
  position: absolute;
  right: 0;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--txt-clr);
}

.arrowDiv {
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowDiv svg {
  width: 20px;
  height: 20px;
  animation: float 2s ease infinite;
}
.arrow {
  fill: var(--txt-clr);
  transition: all 200ms ease-out;
}
@media screen and (min-width: 575px) {
  .arrowDiv:hover .arrow {
    fill: var(--hover-clr);
  }
}
.arrowDiv:focus .arrow {
  fill: var(--hover-clr);
}
@keyframes float {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}
@media screen and (max-width: 574px) {
  .footer {
    margin-top: 50px;
  }
  .date {
    margin-left: 15px;
    right: initial;
    left: 0;
    word-spacing: -2px;
    left: calc(30px + 15px + 47px + 20px);
  }
  .arrowDiv {
    left: calc(100% - 45px);
    transform: none;
    width: 25px;
    height: 25px;
  }
}
