@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");

.footer {
  position: relative;
  width: calc(100% - 25px);
  left: 25px;
  border-top: 1px solid #2b2b2b;
  height: 49px;
  border-radius: 0px 80px 0px 0px / 0px 50px 0px 48px;
  display: flex;
  align-items: center;
}
.name {
  font-family: "Zen Loop", cursive;
  position: absolute;
  left: 0;
  color: #2b2b2b;
  font-size: 25px;
  line-height: 20px;
  font-weight: 300;
}
.date {
  position: absolute;
  right: 25px;
  font-size: 16px;
  font-weight: 200;
  color: #2b2b2b;
}

.arrowDiv {
  animation: float 2s ease infinite;
  cursor: pointer;
  left: calc(50% - 10px);
  position: absolute;
  width: 20px;
  height: 20px;
}

.arrow path {
  fill: #2b2b2b;
}

@keyframes float {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}
